.main-list li {
    display: inline-block;
}

.full-panel {
    width:15%;position: relative !important;display: inline-block !important;
    vertical-align: text-top;
}

.detail-panel {
    width:25%;
}

.back-btn {
    display: none;
}

@media (max-width:720px) {
    .full-panel {
        width:100%;position: relative !important;display: inline-block !important;
    }
    
    .detail-panel {
        width:100%;
    }

    .back-btn {
        display: block;
        cursor: pointer;
    }
    
}