<div>
  <div class="w3-sidebar w3-bar-block full-panel"> 
    <h5 class="w3-bar-item  w3-indigo">Location</h5>
    <div *ngFor="let location of location; index as i" (click)="setRow(i)" [ngClass]="{'w3-indigo': selectedLocation === i}">
        <a class="w3-bar-item w3-button" (click)="openSites(location.location)">{{location.location}}</a>
    </div>
    
  </div>
  <div class="w3-sidebar w3-bar-block full-panel"> 
    <h5 class="w3-bar-item  w3-indigo">Sites</h5>
    <div *ngFor="let sites of sites; index as i" (click)="selectedSitesFn(i)" [ngClass]="{'w3-indigo': selectedSites === i}">
        <a *ngIf="(sites.location == openSitesVar)" class="w3-bar-item w3-button" (click)="openBuildings(sites.sitename)">{{sites.sitename}}</a>
    </div>
  </div>
  <div class="w3-sidebar w3-bar-block full-panel"> 
    <h5 class="w3-bar-item  w3-indigo">Building</h5>
    <div *ngFor="let building of building; index as i" (click)="selectedBuildingIndexFn(i)" [ngClass]="{'w3-indigo': selectedBuildingIndex === i}">
        <a *ngIf="(building.sitename == openBuildingsVar)" class="w3-bar-item w3-button" (click)="openFloor(building.sitename , building.tower)">{{building.tower}}</a>
    </div>
  </div>
  <div class="w3-sidebar w3-bar-block full-panel"> 
    <h5 class="w3-bar-item  w3-indigo">Floors</h5>
    <div *ngFor="let floor of floor; index as i" (click)="selectedFloorsFn(i)" [ngClass]="{'w3-indigo': selectedFloors === i}">
        <a class="w3-bar-item w3-button" (click)="openBay(bayTower , bayi , floor.floors)">{{floor.floors}}</a>
    </div>
  </div>
  <div class="w3-sidebar w3-bar-block full-panel"> 
    <h5 class="w3-bar-item  w3-indigo">Bays</h5>
    <div *ngFor="let bay of bay; index as i" (click)="selectedBaysFn(i)" [ngClass]="{'w3-indigo': selectedBays === i}">
        <a *ngIf="openBayVar == true" class="w3-bar-item w3-button" (click)="openDetails(bay.bays)">{{bay.bays}}</a>
    </div>
  </div>
  <div class="w3-sidebar w3-bar-block full-panel detail-panel"> 
    <h5 class="w3-bar-item  w3-indigo">Details</h5>
    <div class="w3-container w3-center" *ngFor="let details of details;">
      <div class="w3-left-align"><p>Total Seats : {{details.seats}}</p></div>
      <div class="w3-left-align"><p>Serial Number: {{details.serials}} - {{details.serialE}}</p></div>
      <div class="w3-left-align"><p>Project: {{details.project}}</p></div>
      <div class="w3-left-align"><p>Access: {{details.access}}</p></div>
      <div class="w3-left-align"><p>Floor Captions: {{details.captions}}</p></div>
    </div>
  </div>
</div>